<div class="row justify-content-center">
  <h2>Dashboard</h2>
  <div class="row w-100 ">
    <div class="col-md-3">
      <div class="d-flex flex-column px-3 py-3 rounded-3" style="background-color: #EFEFEF">
        <ul class="nav flex-column px-3">
          <%= content_tag(:li,class: "hover-animation-nav-item nav-item") do %>
            <div class="d-flex align-items-center">
              <%= link_to "Followers", dashboard_index_path, class: "nav-link text-black"%>
            </div>
          <% end %>
          <%= content_tag(:li,class: "hover-animation-nav-item nav-item") do %>
            <div class="d-flex align-items-center">
              <%= link_to "Following users", following_users_dashboard_index_path, class: "nav-link text-black" %>
            </div>
          <% end %>
          <%= content_tag(:li,class: "hover-animation-nav-item nav-item active") do %>
            <div class="d-flex align-items-center">
              <%= link_to "Following tags", following_tags_dashboard_index_path, class: "nav-link text-black" %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="d-flex row">
        <% if @tags.count > 0  %>
          <% @tags.each do |tag| %>
            <%= render "dashboard/tag", tag: tag %>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center">
            <b>You don't have any tags! 😢😢😢</b>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>