<main role="main" class="col-lg-8 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <%= turbo_frame_tag "modal_album" %>
    <!-- app/views/users/index.html.erb -->
    <h1>All Albums</h1>

    <table id="users">
      <thead>
        <tr>
          <th>Photo title</th>
          <th>Created At</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @albums.each do |album| %>
        <tr>
          <th><%= album.title %></th>
          <th><%= album.created_at %></th>
          <th><%= link_to "view", album_path(album),data: { turbo_frame: "modal_album" } %></th>
          <th><%= link_to "Delete", admin_album_path(album), :method => :delete, :confirm => "Are you sure?" %></th>
        </tr>
        <% end %>
      </tbody>


    </table>
    <%= paginate @albums, theme: 'bootstrap-5',
                 pagination_class: "pagination-sm flex-wrap justify-content-center",
                 nav_class: "d-inline-block"%>

  </div>
</main>