<%= turbo_stream_from "comment_public_likes" %>
<% comment_channel = current_user ? "private_comments" : "public_comments" %>
<%= turbo_stream_from comment_channel %>
<%= turbo_stream_from [@user_gid, 'comment_private_likes'] %>
<%= content_tag(:div, id: comment_channel) do %>
  <div data-controller="post-comment">
    <div class="row w-100 ">
      <div class="col-md-1">
        <div class="d-flex flex-column">
          <% if comment.user.avatar.attached? %>
            <%= image_tag(comment.user.avatar, alt: "#{comment.user.username}", class: "avatar", id: "avatarUserHeader") %>
          <% else %>
            <%= image_tag("user.jpg", alt: "#{comment.user.username}", class: "avatar", id: "avatarUserHeader") %>
          <% end %>
          <%= render "comments/private_comment",comment: comment %>
        </div>
      </div>
      <div class="col-md-11">
        <div class="post-comments">
          <p class="meta">Comment <%= time_ago_in_words(comment.updated_at) %> <%= link_to comment.user.username, profile_path(comment.user) %> says :</p>
          <% if current_user == comment.user %>
            <div class="button-group float-end">
              <%= button_to "Delete", [@post, comment], class: "btn btn-danger", method: :delete %>
            </div>
          <% end %>
          <p><%= comment.content %></p>
        </div>
      </div>
    </div>
    <div class="clearfix d-flex">
    </div>
    <% if current_user != comment.user  %>
      <a href="#" class="comment-form-display mx-2" data-action="click->post-comment#clickReplyButton">Reply this comment</a>
    <% end %>
    <div class="comment-form ps-5 d-none">
      <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment , user: current_user, cancel: true} %>
    </div>
    <hr/>
    <div class="sub-comment">
      <%= render comment.comments %>
    </div>
  </div>
<% end %>