<%= turbo_stream_from "comment_public_likes" %>
<% comment_channel = current_user ? "private_comments" : "public_comments" %>
<%= turbo_stream_from comment_channel %>
<%= turbo_stream_from [@user_gid, 'comment_private_likes'] %>
<%= content_tag(:div, id: comment_channel) do %>
  <article data-controller="post-comment">
    <li class="clearfix">
      <% if comment.user.avatar.attached? %>
        <%= image_tag(comment.user.avatar, alt: "#{comment.user.username}", class: "avatar", id: "avatarUserHeader") %>
      <% else %>
        <%= image_tag("user.jpg", alt: "#{comment.user.username}", class: "avatar", id: "avatarUserHeader") %>
      <% end %>
      <div class="post-comments">
        <p class="meta">Comment <%= time_ago_in_words(comment.updated_at) %> <%= link_to comment.user.username, profile_path(comment.user) %> says :</p>
        <% if current_user == comment.user %>
          <div class="button-group float-end">
            <%= button_to "Delete", [@post, comment], class: "btn btn-danger", method: :delete %>
          </div>
        <% end %>
        <p><%= comment.content %></p>
      </div>
    </li>

    <div class="d-flex">
      <% unless current_user %>
        <%= render "comments/public_comment", comment: comment %>
      <% end %>
    </div>
    <% if current_user %>
      <div class="d-flex">
        <%= render "comments/private_comment",comment: comment %>
        <a href="#" class="comment-form-display btn btn-outline-secondary mx-2" data-action="click->post-comment#clickReplyButton">reply</a>
      </div>
      <div class="comment-form ps-5 d-none">
        <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment , user: current_user, cancel: true} %>
      </div>
    <% end %>
    <hr/>
    <div class="sub-comment">
      <%= render comment.comments %>
    </div>
  </article>
<% end %>