<% if cancel %>
  <% style = "" %>
<% else %>
  <% style = "d-none" %>
<% end %>
<form action="<%= post_comments_path(post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if !parent.nil? %>
    <input type="hidden" name="comment[parent_id]" value="<%= parent.id %>">
  <% end %>
  <%# if comment.errors.any? %>
    <%#= render "shared/error", object: comment %>
  <%# end %>
  <fieldset>
    <div class="row">
      <div class="col-md-2">
        <% if user.avatar.attached? %>
          <%= image_tag(user.avatar, alt: "#{user.username}", class: "avatar") %>
        <% else %>
          <%= image_tag("user.jpg", alt: "#{user.username}", class: "avatar") %>
        <% end %>
      </div>
      <div class="form-group col-md-10">
        <textarea name="comment[content]" class="form-control" id="message" placeholder="Your message" required=""></textarea>
      </div>
    </div>
  </fieldset>
  <div class="d-flex">
    <button type="submit" class="btn primary-bg text-white pull-right">Comment</button>
    <a href="#" class="cancel btn btn-secondary <%= style %>" data-action="click->post-comment#clickCancel">Cancel</a>
  </div>
</form>