<div class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light primary-bg d-flex">
    <div class="container-xl">
      <button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="d-flex align-items-center col-7 col-md-8">
        <%= link_to root_path, class: "navbar-brand text-white" do %>
          <%= image_tag("myblog-logo.png", alt: "MyBlog", class: "rounded-3", style: "height: 40px") %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item hover-animation-nav-item">
              <%= link_to "Posts", posts_index_path(index: "top"),class: "nav-link text-white"%>
            </li>
            <li class="nav-item search-nav-item">
              <%= render partial: "search/form", locals: {users: [], posts: [], videos: []} %>
            </li>
          </ul>
        </div>

      </div>
      <div class="d-flex align-items-center col-3 col-md-4 justify-content-end">
        <% if user_signed_in? %>
          <div class="float-right">
            <ul class="nav float-right">
              <div class="dropdown d-flex align-items-center">
                <%= link_to t('user.post.object.create'), new_post_path, class: 'btn btn-outline-light mx-2' %>
                <% if current_user %>
                  <%= turbo_stream_from "notifications_#{current_user.id}" %>
                  <%= turbo_frame_tag "notifications_#{current_user.id}" do %>
                    <%= render 'shared/notifications', user: current_user %>
                  <% end %>
                <% end %>

                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag(current_user.avatar, alt: "#{current_user.username}", class: "avatar-image rounded-circle", id: "avatarUserHeader") %>
                  <% else %>
                    <%= image_tag("user.jpg", alt: "#{current_user.username}", class: "avatar-image rounded-circle", id: "avatarUserHeader") %>
                  <% end %>
                </a>
                <ul class="dropdown-menu" style="left: 50%; width: 50%" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to current_user.username, profile_path(current_user.id), class: "my-2 my-sm-0 dropdown-item" %></li>
                  <hr/>
                  <li><%= link_to "ðŸ  Dashboard", dashboard_index_path, class: "my-2 my-sm-0 dropdown-item" %></li>
                  <li><%= link_to "ðŸ–‹ #{t('user.post.object.user_post')}", posts_path, class: "my-2 my-sm-0 dropdown-item" %></li>
                  <li><%= link_to "ðŸ“¼ My Videos", videos_path, class: "my-2 my-sm-0 dropdown-item" %></li>

                  <hr/>
                  <li><%= link_to "ðŸ‘¤ Edit account", edit_user_registration_path, class: "my-2 my-sm-0 dropdown-item" %></li>
                  <li><%= button_to "ðŸš« Sign out", destroy_user_session_path, class: "my-2 my-sm-0 dropdown-item", method: :delete %></li>
                </ul>
              </div>
            </ul>
          </div>
        <% else %>
          <%= link_to "Sign in", new_user_session_path,class: 'btn btn-outline-light my-2 my-sm-0', method: :get %>
        <% end %>
        <ul>
          <%= link_to "ðŸ‡»ðŸ‡³", url_for(locale: "vi"), class: "text-white" %>
          <span class="text-white">|</span>
          <%= link_to "ðŸ‡¬ðŸ‡§", url_for(locale: "en"), class: "text-white" %>
        </ul>
      </div>
    </div>
  </nav>
</div>