<h1>Photos</h1>
<div> Welcome <%= @user_gid %> </div>
<%= turbo_stream_from "public_likes" %>
<% photo_channel = current_user ? "private_photos" : "public_photos" %>
<%= turbo_stream_from photo_channel %>
<%= turbo_stream_from [@user_gid, 'private_likes'] %>
<%= content_tag(:div, id: photo_channel) do %>
  <% @photos.each do |photo| %>
    <% if current_user %>
      <%= render "photos/private_photo", like_status: current_user.liked?(photo),photo: photo %>
    <% else %>
      <%= render "photos/public_photo", photo: photo %>
    <% end %>
  <% end %>
<% end %>

<h1>Album</h1>
<table id="photos">
  <thead>
  <tr>
    <th>Title</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @albums.each do |album| %>
    <tr>
      <th><%= album.title %></th>
      <th><%= album.user.username %></th>
      <th><%= link_to "View"%></th>
    </tr>
  <% end %>
  </tbody>


</table>
<main role="main" class="col-lg-8 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <button class="btn primary-bg text-white">PHOTO</button>
      <button class="btn btn-light primary-color">ALBUM</button>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
      <% else %>
        <h1>Please Login to see more</h1>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <h1>Admin role</h1>
          <%=  link_to "Users", users_path %>
        <% else %>
          <h1>User role</h1>
          <% end %>
      <% end %>
    </div>
  </div>
</main>