<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center col-12">
    <div class="d-flex justify-content-center">
      <button id="photoButton" class="btn btn-secondary mx-1 primary-color"><%= link_to "PHOTOS", photos_index_path, class: "text-white"%></button>
      <button id="albumButton" class="btn primary-bg mx-1"><%= link_to "ALBUMS", albums_index_path,class: "text-white"%></button>
    </div>
    <div id="albumContent">
      <h1>Album</h1>
      <%= turbo_stream_from "album_public_likes" %>
      <% album_channel = current_user ? "private_albums" : "public_albums" %>
      <%= turbo_stream_from album_channel %>
      <%= turbo_stream_from [@user_gid, 'album_private_likes'] %>
      <%= content_tag(:div, id: album_channel, class:  "row row-col-2") do %>
        <% @albums.each do |album| %>
          <div class=" col-6">
            <div class="card mb-3 p-1" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-6">
                  <%= link_to album_path(album), data: { turbo_frame: "remote_modal" } do%>
                    <div class="profile-album-card card border-0 align-items-center justify-content-center m-3">
                      <%= image_tag(album.images.first, alt: "#{album.title}", class: "profile-album w-100 card-img-top") %>
                      <%= image_tag(album.images.first, alt: "#{album.title}", class: "profile-album rotated-image1 w-100 card-img-top") %>
                      <%= image_tag(album.images.first, alt: "#{album.title}", class: "profile-album rotated-image2 w-100 card-img-top") %>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="card-body photo-card">
                    <div class="card-header">
                      <div class="user-photo-card d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                          <% if album.user.avatar_attachment %>
                            <%= image_tag(album.user.avatar, alt: "User Avatar", class: "avatar-image rounded-circle") %>
                          <% else %>
                            <%= image_tag('user.jpg', alt: "User Avatar", class: "avatar-image rounded-circle") %>
                          <% end %>
                          <%= link_to "#{album.user.username}", view_profile_path(album.user),class: "mx-1" %>
                        </div>
                        <% if current_user %>
                          <% if album.user != current_user %>
                            <%= render partial: 'profile/follow_button',locals: {user: album.user} %>
                          <% elsif current_user %>
                            <%= link_to "Edit", edit_user_registration_path,class: "btn btn-primary text-primary border-blue bg-white" %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="card-body" style="height: 70%;">
                      <h5 class="card-title"><%= album.title %></h5>
                      <p class="card-text"><%= album.description %></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between ">
                      <% if current_user %>
                        <%= render "albums/private_album", album_like_status: current_user.liked?(album),album: album %>
                      <% else %>
                        <%= render "albums/public_album", album: album %>
                      <% end %>
                      <%= content_tag(:p,"Create at #{album.created_at.strftime('%d/%m/%Y')}",class:"card-text") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @albums, theme: 'bootstrap-5',
                     pagination_class: "pagination-sm flex-wrap justify-content-center",
                     nav_class: "d-inline-block" %>
      <% end %>
    </div>
  </div>
</main>