<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center col-12">
    <div class="d-flex justify-content-center">
      <button id="photoButton" class="btn primary-bg mx-1"><%= link_to "PHOTOS", photos_index_path, class: "text-white"%></button>
      <button id="albumButton" class="btn btn-secondary mx-1 primary-color"><%= link_to "ALBUMS", albums_index_path,class: "text-white"%></button>
    </div>
    <div id="photoContent">
      <h1>Photos</h1>
      <%= turbo_stream_from "public_likes" %>
      <% photo_channel = current_user ? "private_photos" : "public_photos" %>
      <%= turbo_stream_from photo_channel %>
      <%= turbo_stream_from [@user_gid, 'private_likes'] %>
      <%= turbo_frame_tag "modal_photo" %>
      <%= content_tag(:div, id: photo_channel,class: "row row-col-2") do %>
        <% @photos.each do |photo| %>
          <div class=" col-6">
            <div class="card mb-3 p-1" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-6">
                  <%= image_tag(photo.img, alt: "Photo Picture", class: "photo-image img-fluid rounded-start", id: "photo_#{photo.id}") %>
                </div>
                <div class="col-md-6">
                  <div class="card-body photo-card">
                    <div class="user-photo-card">
                      <%= link_to "#{photo.user.username}", view_profile_path(photo.user) %>
                      <% if current_user %>
                        <% if photo.user != current_user %>
                          <%= render partial: 'profile/follow_button',locals: {user: photo.user} %>
                        <% elsif current_user %>
                          <button class="btn btn-primary text-primary border-blue bg-white">Edit profile </button>
                        <% end %>
                      <% end %>
                    </div>
                    <h5 class="card-title"><%= photo.title %></h5>
                    <p class="card-text"><%= photo.description %></p>
                    <% if current_user %>
                      <%= render "photos/private_photo", like_status: current_user.liked?(photo),photo: photo %>
                    <% else %>
                      <%= render "photos/public_photo", photo: photo %>
                    <% end %>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @photos, theme: 'bootstrap-5',
                     pagination_class: "pagination-sm flex-wrap justify-content-center",
                     nav_class: "d-inline-block"%>
      <% end %>
    </div>
  </div>
</main>