<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center col-12">
    <div class="d-flex justify-content-center">
      <button id="photoButton" class="btn primary-bg mx-1"><%= link_to "PHOTOS", photos_index_path, class: "text-white"%></button>
      <button id="albumButton" class="btn btn-secondary mx-1 primary-color"><%= link_to "ALBUMS", albums_index_path,class: "text-white"%></button>
    </div>
    <div id="photoContent">
      <h1>Photos</h1>
      <%= turbo_stream_from "public_likes" %>
      <% photo_channel = current_user ? "private_photos" : "public_photos" %>
      <%= turbo_stream_from photo_channel %>
      <%= turbo_stream_from [@user_gid, 'private_likes'] %>
      <%= content_tag(:div, id: photo_channel,class: "row row-col-2") do %>
        <% @photos.each do |photo| %>
          <div class=" col-6">
            <div class="card mb-3 p-1" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-6">
                  <%= link_to photo_path(photo), data: { turbo_frame: "remote_modal" } do%>
                    <%= image_tag(photo.img, alt: "Photo Picture", class: "photo-image img-fluid rounded-start", id: "photo_#{photo.id}") %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="card-body photo-card">
                    <div class="card-header">
                      <div class="user-photo-card d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                          <%= image_tag(photo.user.avatar, alt: "User Avatar", class: "avatar-image rounded-circle") %>
                          <%= link_to "#{photo.user.username}", view_profile_path(photo.user),class: "mx-1" %>
                        </div>
                        <% if current_user %>
                          <% if photo.user != current_user %>
                            <%= render partial: 'profile/follow_button',locals: {user: photo.user} %>
                          <% elsif current_user %>
                            <%= link_to "Edit Profile", edit_user_registration_path,class: "btn btn-primary text-primary border-blue bg-white" %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="card-body" style="height: 70%;">
                      <h5 class="card-title"><%= photo.title %></h5>
                      <p class="card-text"><%= photo.description %></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between ">
                      <% if current_user %>
                        <%= render "photos/private_photo", like_status: current_user.liked?(photo),photo: photo %>
                      <% else %>
                        <%= render "photos/public_photo", photo: photo %>
                      <% end %>
                      <%= content_tag(:p,"Create at #{photo.created_at.strftime('%d/%m/%Y')}",class:"card-text") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @photos, theme: 'bootstrap-5',
                     pagination_class: "pagination-sm flex-wrap justify-content-center",
                     nav_class: "d-inline-block"%>
      <% end %>
    </div>
  </div>
</main>