<div id="<%= dom_id album %>">
  <%= render 'likes/private_button_album', album: album, album_like_status: album_like_status %>
  <%= album.title %>
  <%= link_to "View", album_path(album) %>
  <%= album.user.username %>
</div>
