<p style="color: green"><%= notice %></p>

<%= @album.title %>
<% @album.images.each do |image|%>
  <%= image_tag(image, id: "avatar",style: 'height:150px;width:150px') %>
  <%= link_to 'Remove', delete_image_album_path(@album,image.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>


<% if current_user == @album.user %>
  <div>
    <%= link_to "Edit this album", edit_album_path(@album) %> |
    <%= link_to "Back to albums", albums_path %>

    <%= button_to "Destroy this album", @album, method: :delete %>
  </div>
<% end %>