<main role="main" class="col-lg-10 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <!-- app/views/users/index.html.erb -->
    <h1>Posts moderation</h1>
    <%= form_with(url: admin_posts_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex") do |form| %>
      <div class="position-relative d-flex">
        <%= form.text_field :query_admin_post,
                            class: "form-control mr-sm-2",
                            placeholder: "Search post ....", autocomplete: "off" %>
        <div class="d-flex">
          <%= form.submit "🔦", class: "btn btn-outline-primary mx-2" %>
        </div>
      </div>
    <% end %>
    <% if @posts.count > 0 %>
      <table class="table overflow-auto mt-3">
        <thead class="table-dark">
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Post Title</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <th>
              <%= link_to post.user.username, profile_path(post.user),class: "text-primary" %>
            </th>
            <th>
              <%= link_to post.title, post_path(post),class: "text-primary" %>
            </th>
            <th>
              <%= link_to "ACCEPT", action_accept_post_admin_post_path(post),class: "btn btn-outline-success",data: { turbo_frame: "small_remote_modal" } %>
              <%= link_to "REFUSE",action_refuse_post_admin_post_path(post), class: "btn btn-outline-danger" ,data: { turbo_frame: "small_remote_modal" }%>
            </th>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
          <span class="d-flex justify-content-center">
            <b>No posts to check!!! 😁</b>
          </span>
    <% end %>
  </div>
  <%= paginate @posts, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</main>