<div class="row justify-content-center mb-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= t('user.tag.tags') %></h1>
    <%= form_with(url: tags_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex") do |form| %>
      <div class="position-relative d-flex">
        <%= form.text_field :query_tag_name,
                            value: (params[:query_tag_name] if params[:query_tag_name].present?),
                            class: "form-control mr-sm-2",
                            placeholder: "Search tag ....", autocomplete: "off" %>
        <div class="d-flex">
          <%= form.submit "🔦", class: "btn btn-outline-primary mx-2" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= content_tag(:div,class: "row row-cols-4 d-flex align-items-center") do %>
    <% @tags.each do |tag| %>
      <%= content_tag(:div, class: "col col-6 col-md-3 my-2 rounded", style: "height: 175px") do %>
        <div class="card mb-2 h-100" style="border: none;">
          <div class="card-header d-flex justify-content-between" style="border: none; background-color: #EFEFEF;">
            <%= link_to "@_#{tag.name}", tag_path(tag,index: "top"),data:{turbo: false},class: "mx-1" %>
            <%= "#{pluralize(Post.tagged_with(tag.name).count , "post")}" %>
          </div>
          <div class="card-body" style="background-color: #EFEFEF;">
            <p class="card-text tag-title"><%= tag.detail %></p>
          </div>
          <div class="card-footer text-muted d-flex align-items-center justify-content-between" style="border: none; background-color: #EFEFEF;">
            <% if current_user %>
              <%= render 'tags/added_button', tag: tag, added_status: current_user.tag_added?(tag) %>
            <% end %>
            <div>
              <% if tag.tag_image.attached? %>
                <%= image_tag(tag.tag_image, alt: "#{tag.name}", class: "tag-image") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%end %>
</div>