<div class="row justify-content-center">
  <h1>Tags</h1>

  <%= content_tag(:div,class: "row row-cols-4 d-flex align-items-center") do %>
    <% @tags.each do |tag| %>
      <%= content_tag(:div, class: "col col-6 col-md-3 my-2 rounded", style: "height: 150px") do %>
        <div class="card mb-2 h-100" style="border: none;">
          <div class="card-header d-flex justify-content-between" style="border: none; background-color: #EFEFEF;">
            <%= link_to "@_#{tag.name}", tag_path(tag),data:{turbo: false},class: "mx-1" %>
            <%= "#{Post.tagged_with(tag.name).count + User.tagged_with(tag.name).count} use" %>
          </div>
          <div class="card-body" style="background-color: #EFEFEF;">
            <p class="card-text"><%= tag.detail %></p>
          </div>
          <div class="card-footer text-muted d-flex justify-content-end" style="border: none; background-color: #EFEFEF;">
            <div>
              <% if tag.tag_image.attached? %>
                <%= image_tag(tag.tag_image, alt: "#{tag.name}", class: "tag-image", id: "avatarUserHeader") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%end %>
</div>