<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-outline mb-4 w-50">
    <%= f.label :email, class: "my-2" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary" %>
  </div>
  <%= render "users/shared/links" %>
<% end %>

