<div id="<%= dom_id post %>">
  <div class="row">
    <div class="col-md-1">
      <% if current_user %>
        <%= render 'votable' , user: current_user, post: post%>
      <% else %>
        <%= render 'votable_guest',post: post%>
      <% end %>
    </div>
    <div class="col-md-11">
      <div class="card mb-3" style="border: none">
        <div class="card-header flex-column text-start">
          <div class="d-flex justify-content-between ">
            <div class="d-flex">
              <div class="d-flex justify-content-start align-items-center">
                <% if post.user.avatar_attachment %>
                  <%= image_tag(post.user.avatar, alt: "User Avatar", class: "avatar-image rounded-circle") %>
                <% else %>
                  <%= image_tag('user.jpg', alt: "User Avatar", class: "avatar-image rounded-circle") %>
                <% end %>
                <%= link_to "#{post.user.username}", profile_path(post.user),data:{turbo: false},class: "mx-1" %>
              </div>
              <% if current_user %>
                <% if post.user != current_user %>
                  <%= render partial: 'profile/follow_button',locals: {user: post.user} %>
                <% end %>
              <% end %>
            </div>
            <%= render partial: 'posts/published_at',locals: {post: post} %>
          </div>
          <div class="mt-2">
            <strong>Tags:</strong>
            <% post.tags.each do |tag| %>
              <%= link_to "##{tag.name}", tag_path(tag), data:{turbo: false}, class: "title-post-card rounded-3 px-2 py-1"%>
            <% end %>
          </div>
        </div>
        <img src="<%= url_for(post.header_image) %>" class="card-img-top" alt="..." style="height: 500px">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
        </div>
      </div>
      <div class="card mb-5" style="border: none">
        <div class="card-body pt-5">
          <div class="sortable">
            <% post.elements.order(:sort).all.each_with_sortable_id do |element| %>
              <% if element.persisted? %>
                <% if element.paragraph? %>
                  <div class="mb-4 p-3 paragraph">
                    <div class="paragraph-content">
                      <% if element.content.present? %>
                        <%= element.content %>
                      <% else %>
                        Still updating post....
                      <% end %>
                    </div>
                  </div>
                <% elsif element.image? %>
                  <div class="mb-4 p-3 image">
                    <% if element.image.present? %>
                      <%= image_tag(element.image) %>
                    <% else %>
                      Still updating post....
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-footer pt-3 pb-3">
        </div>
      </div>
    </div>
  </div>


</div>
