<div id="<%= dom_id post %>">
  <div class="row">
    <div class="col-md-1">
      <% if current_user %>
        <%= render 'votable' , user: current_user, post: post%>
      <% else %>
        <%= render 'votable_guest',post: post%>
      <% end %>
    </div>
    <div class="col-md-11">
      <div class="card mb-3" style="border: none">
        <div class="card-header text-end">
          <%= render partial: 'posts/published_at',locals: {post: post} %>
        </div>
        <img src="<%= url_for(post.header_image) %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
        </div>
      </div>
      <div class="card mb-5" style="border: none">
        <div class="card-body pt-5">
          <div class="sortable">
            <% post.elements.order(:sort).all.each_with_sortable_id do |element| %>
              <% if element.persisted? %>
                <% if element.paragraph? %>
                  <div class="mb-4 p-3 paragraph">
                    <div class="paragraph-content">
                      <% if element.content.present? %>
                        <%= element.content %>
                      <% else %>
                        Still updating post....
                      <% end %>
                    </div>
                  </div>
                <% elsif element.image? %>
                  <div class="mb-4 p-3 image">
                    <% if element.image.present? %>
                      <%= image_tag(element.image) %>
                    <% else %>
                      Still updating post....
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-footer pt-3 pb-3">
          <strong>Tags:</strong>
          <% post.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag), data:{turbo: false}, class: "title-post-card rounded-3 px-2 py-1"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
