<main role="main" class="col-lg-10 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <!-- app/views/users/index.html.erb -->
    <h1>Users Management</h1>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <th><%= user.first_name %></th>
          <th><%= user.last_name %></th>
          <th><%= user.email %></th>
          <th><%= user.role %></th>
          <th>
            <%= link_to "View", admin_user_path(user), class: "btn btn-info text-white" ,data: { turbo_frame: "remote_modal" }%>
            <%= link_to "Edit", edit_admin_user_path(user),class: "btn btn-warning text-white",data: { turbo_frame: "remote_modal" } %>
            <%= link_to "Delete", admin_user_path(user), :method => :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </th>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p><%= link_to "New User", new_admin_user_path,class: 'btn primary-bg my-2 my-sm-0 text-white',data: { turbo_frame: "remote_modal" } %></p>
  </div>
  <%= paginate @users, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</main>