<main role="main" class="col-lg-10 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <!-- app/views/users/index.html.erb -->
    <h1>Users Management</h1>
    <%= form_with(url: admin_users_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex") do |form| %>
      <div class="position-relative d-flex">
        <%= form.text_field :query_admin_user,
                            class: "form-control mr-sm-2",
                            placeholder: "Search user ....", autocomplete: "off" %>
        <div class="d-flex">
          <%= form.submit "🔦", class: "btn btn-outline-primary mx-2" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex mb-3 mt-3">
      <button class="btn btn-primary mx-1"><%= link_to "LIST USERS", admin_users_path,class: "text-white"%></button>
      <button class="btn btn-primary mx-1"><%= link_to "LIST BAN USERS", admin_index_ban_user_path, class: "text-white"%></button>
    </div>
    <table class="table overflow-auto mt-3">
      <thead class="table-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="<%= "d-none" if user.id == current_user.id %>">
          <th>
            <%= link_to user.first_name, profile_path(user), class: "text-primary" %>
          </th>
          <th>
            <%= link_to user.last_name, profile_path(user), class: "text-primary" %>
          </th>
          <th><%= user.email %></th>
          <th><%= user.role %></th>
          <th>
            <%= link_to "EDIT", edit_admin_user_path(user),class: "btn btn-outline-warning",data: { turbo_frame: "remote_modal" } %>
            <%= link_to "BAN", action_ban_user_admin_user_path(user), class: "btn btn-outline-danger" ,data: { turbo_frame: "small_remote_modal" }%>
          </th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</main>