<div class="col-md-6 col-lg-3 item">
  <div class="box">
    <% if user.avatar.blob %>
      <%= image_tag(user.avatar, alt: "Profile Picture", class: "rounded-circle", id: "avatar",style: 'height:250px;width:250px') %>
    <%else %>
      <%= image_tag('user.jpg', class: "rounded-circle", id: "avatar",style: 'height:250px;width:250px') %>
    <% end %>
<!--    <h3 class="name">Ben Johnson</h3>-->
      <%= content_tag(:h3, user.last_name, class: "name") %>
<!--    <p class="title">Musician</p>-->
    <%= content_tag(:p, user.role, class: "title") %>
    <%= content_tag(:p, "#{user.photos.count} photos", class: "description") %>
    <%= content_tag(:p, "#{user.albums.count} albums", class: "description") %>
    <%= render partial: 'profile/follow_button',locals: {user: user} %>
  </div>
</div>