<div class="col-lg-4" >
  <div class="card-user-detail border rounded mb-4 d-flex flex-column justify-content-center align-items-center"  style="background-color: #EFEFEF">
    <% if user.avatar.blob %>
      <%= image_tag(user.avatar, alt: "Profile Picture", class: "avatar-user rounded-circle my-3", id: "avatar") %>
    <%else %>
      <%= image_tag('user.jpg', class: "avatar-user rounded-circle my-3", id: "avatar") %>
    <% end %>
    <%= link_to(profile_path(user)) do %>
      <%= content_tag(:h4, user.last_name, class: "name text-center my-2") %>
    <% end %>
    <span class="my-2">@<%= user.last_name.downcase %></span>
  </div>
</div>