<div class="row mb-5">
  <div class="col-md-4">
    <img src="https://kynguyenlamdep.com/wp-content/uploads/2022/06/avatar-cute-meo-con-than-chet-700x695.jpg" class=" rounded-circle " alt="Profile Picture" width="250" height="250">
  </div>
  <div class="col-md-8 d-flex flex-column justify-content-center">
    <div class=" d-flex flex-column ">
      <div class="d-flex">
        <button class="btn btn-primary text-primary border-blue bg-white">Edit profile </button>
        <span><i class="fa-solid fa-gear btn btn-lg"></i></span>
      </div>
    </div>
    <div>
      <h1><%= user.username %></h1>
    </div>
    <div class="fs-2">
      <%= link_to 'Photo' %> |
      <%= link_to 'Album' %>|
      <% if user == current_user %>
        <%= link_to " #{user.followee.count} Following" , class: "" %>
      <% elsif current_user %>
        <%= render partial: 'profile/follow_button',locals: {user: user} %>
      <% end %>|
      <a href=""><%= render 'profile/follower_count', user: user %></a>
    </div>
  </div>
</div>