<div class="col-md-6 col-lg-3 item">
  <div class="card-user-detail border rounded py-2 my-2">
    <% if user.avatar.blob %>
      <%= image_tag(user.avatar, alt: "Profile Picture", class: "avatar-user rounded-circle", id: "avatar") %>
    <%else %>
      <%= image_tag('user.jpg', class: "avatar-user rounded-circle", id: "avatar") %>
    <% end %>
    <%= link_to(view_profile_path(user)) do %>
      <%= content_tag(:h3, user.last_name, class: "name text-center") %>
    <% end %>
    <%= content_tag(:p, user.role, class: "title text-center") %>
    <%= content_tag(:p, "#{pluralize(user.photos.count, "photo")}", class: "description text-center") %>
    <%= content_tag(:p, "#{pluralize(user.albums.count, "album")} ", class: "description text-center") %>
    <%= render partial: 'profile/follow_button',locals: {user: user} %>
  </div>
</div>