<div class="row mb-5">
  <div class="col-md-4">
    <%= image_tag(user.avatar, alt: "Profile Picture", class: "rounded-circle", id: "avatar",style: 'height:250px;width:250px') %>
  </div>
  <div class="col-md-8 d-flex flex-column justify-content-center">
    <div class=" d-flex flex-column ">
      <div class="d-flex">
        <button class="btn btn-primary text-primary border-blue bg-white">Edit profile </button>
        <span><i class="fa-solid fa-gear btn btn-lg"></i></span>
      </div>
    </div>
    <div>
      <h1 class="fw-bold"><%= user.username %></h1>
    </div>
    <div class="fs-2">
      <%= link_to pluralize(user.photos.count, "Photo") , view_photos_user_path %> |
      <%= link_to pluralize(user.albums.count, "Album"), view_albums_user_path %>|
      <% if user == current_user %>
        <%= link_to " #{user.followee.count} Following" , class: "" %>
      <% elsif current_user %>
        <%= render partial: 'profile/follow_button',locals: {user: user} %>
      <% end %>|
      <a href=""><%= render 'profile/follower_count', user: user %></a>
    </div>
  </div>
</div>