<div class="row row-cols-4 d-flex align-items-center justify-content-center">
  <% albums.each do |album| %>
    <div class="col col-3 my-2 rounded float-left profile-card-album">
      <div class="card border-0 align-items-center justify-content-center" style="width: 18rem;">
        <%= image_tag(album.images.first, alt: "#{album.title}", class: "w-100 card-img-top", id: "avatar",style: 'height:300px;width:300px',data: { bs_toggle: "modal", bs_target: "#modal", image_src: "" }) %>
        <div class="card-body">
          <p class="card-text"><%= album.title %></p>
        </div>
        <% unless album.is_public? %>
          <i class="border-white fa-solid fa-lock private-photo"></i>
        <% end %>
        <%= link_to "Edit",edit_album_path(album),class: "card-link-edit btn btn-lg btn-primary" %>
        <%= link_to "View", album_path(album),class: "card-link-view btn btn-lg btn-primary", data: { turbo_frame: "modal_album" } %>
      </div>
    </div>
  <% end %>
  <%= paginate albums, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</div>
