<div class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light primary-bg">
    <div class="container-xl">
      <button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="d-flex">
        <%= link_to "Photobook", root_path, class: "navbar-brand text-white" %>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="float-right">
            <ul class="nav float-right">
              <div class="dropdown d-flex align-items-center">
                <% if current_user.avatar.attached? %>
                    <%= image_tag(current_user.avatar, alt: "#{current_user.username}", class: "avatar-image rounded-circle", id: "avatarUserHeader") %>
                <% end %>
                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
                  Welcome <%= current_user.username %></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to "My profile", view_photos_user_path(current_user.id), class: "my-2 my-sm-0 dropdown-item" %></li>
                  <li><%= link_to "Edit account", edit_user_registration_path, class: "my-2 my-sm-0 dropdown-item" %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, class: "my-2 my-sm-0 dropdown-item", method: :delete %></li>
                </ul>
              </div>
            </ul>
          </div>
      <% else %>
          <%= button_to "Sign in", new_user_session_path,class: 'btn btn-outline-light my-2 my-sm-0 text-white', method: :get %>
        <% end %>
      </div>
    </div>
  </nav>
</div>