<div class="row row-cols-4 d-flex align-items-center justify-content-center">
  <% photos.each do |photo| %>
    <div class="col col-3 my-2 rounded float-left profile-card-img">
      <div class="profile-photo-card card border-0 align-items-center justify-content-center">
        <%= image_tag(photo.img, alt: "#{photo.title}", class: "profile-photo w-100 card-img-top", id: "avatar",style: 'height:300px;width:300px') %>
        <div class="card-body">
          <p class="card-text"><%= photo.title %></p>
        </div>
        <% unless photo.is_public? %>
          <i class="border-white fa-solid fa-lock private-photo"></i>
        <% end %>
        <%= link_to "Edit",edit_photo_path(photo),class: "card-link-edit btn btn-lg btn-primary" %>
        <%= link_to "View", photo_path(photo),class: "card-link-view btn btn-lg btn-primary", data: { turbo_frame: "remote_modal" } %>
          </div>
        </div>

  <% end %>
  <%= paginate photos, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</div>
